.inputTask {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    margin-bottom: 15px;
    background: #DBE2Ef;
    border-radius: 5px;
    gap: 10px;


    &Label {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 12px 15px;
    }

    &Checkbox {
        width: 20px;
        height: 20px;
        background: #ccc;
        cursor: pointer;
    }

    &Title {
        padding: 5px;
        line-height: 1.2em;
    }

    &Edit,
    &Remove,
    &Save {
        display: block;
        height: 100%;
        border: none;
        background: none no-repeat center center;
        cursor: pointer;
        padding: 0;
        transition: .1s ease-in-out;
        padding-right: 10px;
    }

    &Edit {
        background-image: url('./edit.svg');
    }

    &Remove,
    &Save {
        background-image: url('./check.svg');
    }

    &Remove {
        background-image: url('./trash.svg');
    }

    &Edit:hover,
    &Remove:hover {
        scale: 1.1;
        color: red;
    }

    &TitleEdit {}
}


.InputTaskTitleEdit {
    font: 1rem/1em 'Roboto';
    border: none;
    padding: 5px;
    background: none;
    box-shadow: 0 4px 0 -3px #3f72af;
}